#post-2 {
    .about {
        img {
            background-color: rgba($black, .4);
            border-radius: $border-radius;
            box-shadow: -.5rem -.5rem .4rem rgba($black, .4);
            transform: rotate(-2deg);
            transition: 1s;



        }

        img:hover {
            transform: rotate(0deg) scale(1.1);
        }
    }

    .about-images {
        img {
            width: 80%;
            margin: 1rem auto;
            border-radius: $border-radius;
            box-shadow: .5rem .5rem .4rem rgba($black, .4);
            transform: rotate(2deg);
            transition: 1s;
        }

        img:hover {
            transform: rotate(0deg) scale(1.25);
        }
    }
}