div.featured-posts {
    padding: 2rem 3rem 2rem 3rem;
    background-color: #fff;

    h2 {
        margin-top: 2rem;
        margin-bottom: 3rem;
        color: $primary;
        text-shadow: .1rem .1rem .1rem rgba($black, .7);
        font-size: 3rem;
    }

    div.card {

        border-color: transparent;
        border-right: 1px solid rgba($black, .1);

        @include media-breakpoint-down(lg) {
            border-right: none;
        }

        .card-title {
            margin-bottom: 1.5rem;
            font-size: 2rem;

            a {
                color: $dark;


            }

        }

        .card-img-holder {
            height: 25rem;
            overflow: hidden;
            box-shadow: 0 0 1rem rgba($dark, .80);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-bottom: 1rem;
            border-radius: $border-radius;

            img {
                height: 35rem;
                width: auto;
                position: absolute;
                top: 0;
                transition: 1s;
                transform: translateY(-10%);
            }

            img:hover {
                transform: scale(1.1) translateY(-10%);
            }
        }

        .card-body {
            padding-right: 0;
            padding-left: 0;
        }


    }

}

#featured-posts div:nth-child(4) {
    border-right: none;
}