footer {

    a {
        text-decoration: none;
        color: $light;
    }

    .footer-description {

        hr {
            width: 20%;
        }

        .site-description {
            margin-bottom: 2rem;


            font-size: 1rem;

        }

        a {
            text-decoration: none;
            color: $light;
        }
    }

    .menu {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;

        .menu-item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: .5rem;
        }
    }

    .categories {
        display: flex;
        justify-content: center;
        flex-direction: column;

        li {
            list-style-type: none;

        }

        a {
            margin-bottom: .5rem;
        }
    }

    .social-media {
        li {
            display: inline-block;

            a {
                text-decoration: none;
                color: $light;
                font-size: 2rem;
                margin-right: .5rem;
            }
        }
    }
}


body>footer>div>div:nth-child(1)>div:nth-child(2)>h5 {
    text-align: center;
}