.navbar {


    padding-left: 5%;
    padding-right: 5%;

    .navbar-brand {
        img {
            height: 35px;
            width: auto;
        }
    }

    .admin,
    .logout,
    .register,
    .login {
        text-decoration: none;
        color: rgba($white, .55);
        margin-right: .5rem;
        margin-left: .5rem;
        background: transparent;
        border: none;
        transition: none;

        &:hover {
            transform: none;
            box-shadow: none;
        }
    }

    .register:hover,
    .login:hover {
        color: green;
    }

    .logout:hover {
        color: gold;
    }

    .admin:hover {
        color: #ab7a26
    }




    .navbar-right {

        .btn {
            color: $white;
            margin-right: 1rem;
        }

        .admin,
        .logout,
        .register,
        .login {
            text-decoration: none;
            color: $white;
            margin-right: 1rem;
            background: transparent;
            border: none;
            transition: none;

            &:hover {
                transform: none;
                box-shadow: none;
            }
        }

        .btn-search {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            margin-right: 2rem;
            transition: none;

            i {
                color: $white;
            }
        }

    }

    form {
        display: none !important;
    }
}