.comments-area {
    margin-top: 3rem;
}

.comment-author {
    img {
        display: none;
    }
}

.comment-body {
    margin-bottom: 3rem;
}

.comment-form-comment {
    label {
        display: flex;
        align-items: flex-start;
    }

    textarea {
        width: 100%;
    }
}