#back-to-top {
    position: absolute;
    position: fixed;
    bottom: 45px;
    right: 10%;
    z-index: 1000;
}

#back-to-top button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#back-to-top button i {
    font-size: 2rem;
    color: $primary;
}

// eof //