.btn.btn-search {
    background-color: transparent;
    border-color: transparent;
}

.search-display {
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($white, .9);
    display: none;

}